[Unit]
Description=NamazTime server
After=multi-user.target

[Service]
User=root
Group=root
ExecStart=/opt/namaztime/namaztime server  --env-file="/opt/namaztime/.env"
StandardOutput=append:/tmp/namaztime.log
StandardError=append:/tmp/namaztime.log

[Install]
WantedBy=multi-user.target