[Unit]
Description=Marusya skill server
After=multi-user.target

[Service]
User=root
Group=root
ExecStart=/opt/marusya/marusya
StandardOutput=append:/tmp/marusya.log
StandardError=append:/tmp/marusya.log

[Install]
WantedBy=multi-user.target

